.posts li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
  width: 30%;
}

.posts .post {
  display: block;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #8ea4bb;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 6.5em;
  margin-right: 0.8em;
  border-radius: 4px 4px 4px 4px;
  overflow: scroll;
}
.post .user {
  display: block;
  font-size: 1.2em;
  font-weight: 700;
  color: rgb(38, 58, 71);
  padding-bottom: 0.5em;
}

.post .content {
  display: block;
  padding-bottom: 0.5em;
}

.post .time-stamp {
  font-size: small;
  color: rgb(92, 92, 92);
}
